<html>
    <p>Create</p>
    <form method="POST" action="/create">
        <input type="text" name="text">
        <input type="submit">
    </form>

    <p>Read</p>
    <form method="GET" action="/read">
        <input type="text" name="id">
        <input type="submit">
    </form>

    <p>Update</p>
    <form method="PUT" action="/update">
        <input type="text" name="id">
        <input type="text" name="text">
        <input type="submit">
    </form>

    <p>Delete</p>
    <form method="DELETE" action="/delete">
        <input type="text" name="id">
        <input type="submit">
    </form>

    <p>Scan</p>
    <form method="GET" action="/scan">
        <input type="submit">
    </form>
</html>
